body {
	font-family: Ariel, sans-serif;
}

#task-list {
	line-style: none;
	padding: 0;
	margin: 0;
}

.task {
	padding: 10px;
	border-bottom: 1px solid;
}

.task.completed {
	text-decoration: line-through;
}